/* 
 *  grid section styles
 */

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
}

@media only screen and (max-width: 640px) {
    #grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    #grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* 
 *  grid entry styles
 */

.grid-entry {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

@media only screen and (max-width: 1220px) {
    .grid-entry {
        padding: 10px;
    }
}

/* 
 *  entry image container
 */

.entry-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.entry-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.entry-image-overlay-highlight {
    background-color: rgba(211, 211, 211, 0.2);
}

.entry-image {
    display: block;
    width: 100%;
    height: auto;
}

/*
 *  entry type overlay styles
 */
.entry-type-overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
}

.entry-type-name {
    font-size: 20px;
    padding-right: 8px;
    line-height: 18px;
    font-weight: 600;
    visibility: hidden;
    z-index: 999;
}

.entry-type-overlay>img {
    width: 22px;
    height: 22px;
    z-index: 999;
}

.entry-image-polygon-overlay {
    z-index: 998;
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 80px;
}

.entry-image-polygon-overlay polygon {
    fill: rgba(255, 255, 255, 1);
}

/* 
 *  entry details styles
 */

.entry-details-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

/* 
 *  entry title styles
 */

.entry-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
}

/*
 *  dark theme
 */

.dark-theme .grid-entry {
    border-top: 3px solid #c1c4ca;
    border-right: 3px solid #c1c4ca;
}

.dark-theme .entry-type-name {
    color: #cfd3db;
}

.dark-theme .entry-image-overlay-highlight {
    background-color: rgba(124, 119, 119, 0.2);
}

.dark-theme .entry-image-polygon-overlay polygon {
    fill: #282c34;
}

/*
 *  entry type styles
 */

#grid .entry-type-news {
    border-top: 3px solid #399b2c;
    border-right: 3px solid #399b2c;
}

#grid .entry-type-news .entry-type-name {
    color: #3e9b23;
}

#grid .entry-type-article {
    border-top: 3px solid #3d8cdb;
    border-right: 3px solid #3d8cdb;
}

#grid .entry-type-article .entry-type-name {
    color: #0070dd;
}

#grid .entry-type-guide {
    border-top: 3px solid #9e57ce;
    border-right: 3px solid #9e57ce;
}

#grid .entry-type-guide .entry-type-name {
    color: #a335ee;
}

#grid .entry-type-druid {
    border-top: 3px solid #FF7D0A;
    border-right: 3px solid #FF7D0A;
}

#grid .entry-type-druid .entry-type-name {
    color: #FF7D0A;
}

#grid .entry-type-hunter {
    border-top: 3px solid #ABD473;
    border-right: 3px solid #ABD473;
}

#grid .entry-type-hunter .entry-type-name {
    color: #ABD473;
}

#grid .entry-type-mage {
    border-top: 3px solid #69CCF0;
    border-right: 3px solid #69CCF0;
}

#grid .entry-type-mage .entry-type-name {
    color: #69CCF0;
}

#grid .entry-type-paladin {
    border-top: 3px solid #F58CBA;
    border-right: 3px solid #F58CBA;
}

#grid .entry-type-paladin .entry-type-name {
    color: #F58CBA;
}

#grid .entry-type-priest {
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

#grid .entry-type-priest .entry-type-name {
    color: #FFFFFF;
}

#grid .entry-type-rogue {
    border-top: 3px solid #FFF569;
    border-right: 3px solid #FFF569;
}

#grid .entry-type-rogue .entry-type-name {
    color: #FFF569;
}

#grid .entry-type-shaman {
    border-top: 3px solid #0070DE;
    border-right: 3px solid #0070DE;
}

#grid .entry-type-shaman .entry-type-name {
    color: #0070DE;
}

#grid .entry-type-warlock {
    border-top: 3px solid #9482C9;
    border-right: 3px solid #9482C9;
}

#grid .entry-type-warlock .entry-type-name {
    color: #9482C9;
}

#grid .entry-type-warrior {
    border-top: 3px solid #C79C6E;
    border-right: 3px solid #C79C6E;
}

#grid .entry-type-warrior .entry-type-name {
    color: #C79C6E;
}

#grid .entry-type-herbalism {
    border-top: 3px solid #87be6d;
    border-right: 3px solid #87be6d;
}

#grid .entry-type-herbalism .entry-type-name {
    color: #87be6d;
}

#grid .entry-type-mining {
    border-top: 3px solid #cbcbcb;
    border-right: 3px solid #cbcbcb;
}

#grid .entry-type-mining .entry-type-name {
    color: #cbcbcb;
}

#grid .entry-type-skinning {
    border-top: 3px solid #7d9385;
    border-right: 3px solid #7d9385;
}

#grid .entry-type-skinning .entry-type-name {
    color: #7d9385;
}

#grid .entry-type-alchemy {
    border-top: 3px solid #20dcc0;
    border-right: 3px solid #20dcc0;
}

#grid .entry-type-alchemy .entry-type-name {
    color: #20dcc0;
}

#grid .entry-type-blacksmithing {
    border-top: 3px solid #b0a898;
    border-right: 3px solid #b0a898;
}

#grid .entry-type-blacksmithing .entry-type-name {
    color: #b0a898;
}

#grid .entry-type-enchanting {
    border-top: 3px solid #e8542a;
    border-right: 3px solid #e8542a;
}

#grid .entry-type-enchanting .entry-type-name {
    color: #e8542a;
}

#grid .entry-type-engineering {
    border-top: 3px solid #edd85a;
    border-right: 3px solid #edd85a;
}

#grid .entry-type-engineering .entry-type-name {
    color: #edd85a;
}

#grid .entry-type-leatherworking {
    border-top: 3px solid #906038;
    border-right: 3px solid #906038;
}

#grid .entry-type-leatherworking .entry-type-name {
    color: #906038;
}

#grid .entry-type-tailoring {
    border-top: 3px solid #e8dabd;
    border-right: 3px solid #e8dabd;
}

#grid .entry-type-tailoring .entry-type-name {
    color: #e8dabd;
}

#grid .entry-type-cooking {
    border-top: 3px solid #e88010;
    border-right: 3px solid #e88010;
}

#grid .entry-type-cooking .entry-type-name {
    color: #e88010;
}

#grid .entry-type-first-aid {
    border-top: 3px solid #c81818;
    border-right: 3px solid #c81818;
}

#grid .entry-type-first-aid .entry-type-name {
    color: #c81818;
}

#grid .entry-type-fishing {
    border-top: 3px solid #a05060;
    border-right: 3px solid #a05060;
}

#grid .entry-type-fishing .entry-type-name {
    color: #a05060;
}