.site-container {
    position: relative;
    flex: 1 0 320px;
}

.background-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
    background-color: rgba(255, 255, 255, 1);
}

.section-wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.lhs-section-wrapper {
    max-width: 400px;
    padding-left: 15px;
}

#wide-header-section {
    display: none;
    width: 240px;
    padding-right: 40px;
    padding-left: 15px;
}

@media only screen and (min-width: 1440px) {
    #wide-header-section {
        display: block;
    }
    #menu-section {
        display: none;
    }
    #title-section {
        display: none;
    }
    #links-section {
        display: none;
    }
}

#wide-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1439px) {
    #wide-content-wrapper {
        margin: 0;
    }
}

#wide-links-container {
    display: flex;
    max-width: 160px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.wide-links-item {
    margin-right: 10px;
}

.wide-title-container {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.wide-menu-container {
    margin-top: 30px;
}

.wide-menu-item {
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
}

#wide-layout-filler {
    flex: 0 999 260px;
}

@media only screen and (max-width: 1439px) {
    #wide-layout-filler {
        display: none;
    }
}

/*
 *  links section styles
 */

@media only screen and (max-width: 640px) {
    #links-section {
        display: none;
    }
}

#links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
}

.links-item {
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.links-item:last-child {
    padding-right: 0;
}

.links-item:hover {
    text-decoration: underline;
}

/*
 *  title section styles
 */

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*
 *  menu section styles
 */

#menu-section {
    margin-bottom: 39px;
}

.menu-container {
    display: flex;
    border-bottom: 2px solid #cdcdcd;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
    .menu-container {
        justify-content: flex-end;
    }
}

.menu-item {
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
}

.active-menu-item {
    color: #ff8000;
}

.menu-container .active-menu-item {
    border-bottom: 4px solid #ff8000;
    margin-bottom: -4px;
}

.menu-item:hover {
    border-bottom: 4px solid #ff8000;
    margin-bottom: -4px;
}

@media only screen and (max-width: 640px) {
    .menu-item {
        display: none;
    }
}

.mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 640px) {
    .mobile-menu-icon {
        display: block;
    }
}

.menu-open-icon {
    height: 50px;
    padding: 3px;
    width: 50px;
    background-image: url(/res/open-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-close-icon {
    height: 50px;
    padding: 6px;
    width: 50px;
    background-image: url(/res/x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#mobile-menu-section {
    margin-top: -19px;
    margin-bottom: -10px;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-item {
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
}

.mobile-links-container {
    padding-top: 5px;
}

.mobile-links-item {
    text-align: right;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

/*
 *  fixed menu section styles
 */

#fixed-menu-section {
    z-index: 9999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#fixed-menu-section .menu-container {
    background-color: rgba(255, 255, 255, 1);
}

/*
 *  mobile menu styles
 */

#mobile-menu-section {
    display: none;
}

/*
 *  dark theme styles
 */

.dark-theme {
    color: #cfd3db;
}

.dark-theme .site-container-overlay {
    background-color: #282c34ef;
}

.dark-theme .background-overlay {
    /* background-color: #282c34ef; */
    background-color: #282c34;
}

.dark-theme #fixed-menu-section .menu-container {
    background-color: #282c34;
}

.dark-theme .menu-open-icon {
    background-image: url(/res/open-icon-gray.png);
}

.dark-theme .menu-close-icon {
    background-image: url(/res/x-gray.png);
}

#wide-scrolling-container {
    display: none;
    position: relative;
    left: 0;
    right: 0;
}

#main-content {
    flex: 0 1 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#main-content>* {
    margin-bottom: 20px;
}

#main-content>*:last-child {
    margin-bottom: 0;
}

/*
 *  footer section styles
 */

#footer-section {
    border-top: 1px solid #cdcdcd;
    margin-top: 40px;
}

#footer-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1007px) {
    #footer-container {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1439px) {
    #footer-section {
        border: none;
    }
    #footer-container {
        border-top: 2px solid #cdcdcd;
    }
}