* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0 none;
    outline: none;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: overlay;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    min-height: 100%;
    display: flex;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heading {
    font-family: 'Barlow Condensed', sans-serif;
}

#root {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.main-content-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #3f4146;
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    width: auto;
}

.button:hover {
    background-color: #46484e;
}

.grid-section-heading {
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 24px;
}