.grid-entry {
    justify-content: space-between;
    height: 100%;
}

.entry-title {
    margin-top: 10px;
}

.site-container {
    background-color: #e2e1e0;
}

.grid-entry {
    background-color: white;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}