* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0 none;
    outline: none;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active-page {
    background-color: #D7C2F7;
}

.heading {
    font-family: 'Barlow Condensed', sans-serif;
}

.site-container {
    position: relative;
    min-width: 320px;
}

.site-container-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}

.background-column-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
}

.background-column-container img {
    width: 100%;
    height: auto;
}

#background-column-alliance {
    flex: 1 1 33.333%;
    /* background-color: red; */
    margin-top: 500px;
}

#alliance-background-holder {
    background-image: url("res/alliance-bg-transparent-tall.png");
    transform: scaleX(-1);
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
}

#background-column-middle {
    flex: 0 1 33.333%;
    /* background-color: green; */
    max-width: 800px;
}

#background-column-horde {
    flex: 1 1 33.333%;
    /* background-color: blue; */
    background-image: url("res/horde-bg-transparent-tall.png");
}

.section-wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

.lhs-section-wrapper {
    max-width: 400px;
    padding-left: 15px;
}

#wide-header-section {
    display: none;
    margin-right: 50px;
}

@media only screen and (min-width: 1500px) {
    #wide-header-section {
        display: block;
    }

    #menu-section {
        display: none;
    }

    #title-section {
        display: none;
    }

    #links-section {
        display: none;
    }
}

#wide-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#wide-links-container {
    display: flex;
    max-width: 160px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.wide-links-item {
    cursor: pointer;
    margin-right: 10px;
}

#wide-title-container {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#wide-menu-container {
    margin-top: 30px;
}

.wide-menu-item {
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 1007px) {
    .section-wrapper {
        padding: 0;
    }

    #links-section .section-wrapper {
        padding-right: 10px;
    }
}

/* 
 *  links section styles
 */

@media only screen and (max-width: 640px) {
    #links-section {
        display: none;
    }
}

#links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
}

.links-item {
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.links-item:last-child {
    padding-right: 0;
}

.links-item:hover {
    text-decoration: underline;
}

/* 
 *  title section styles
 */

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* 
 *  menu section styles
 */

.menu-container {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    .menu-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    .menu-container {
        justify-content: flex-end;
    }
}

.menu-item {
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.menu-item:first-child {
    padding-left: 0px;
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    .menu-item:first-child {
        padding-left: 20px;
    }
}

.menu-item:hover {
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}

@media only screen and (max-width: 640px) {
    .menu-item {
        display: none;
    }
}

.menu-hamburger-icon {
    height: 50px;
    padding: 3px;
    width: 50px;
}

.menu-close-icon {
    height: 50px;
    padding: 6px;
    width: 50px;
    display: none;
}

@media only screen and (min-width: 641px) {
    .menu-hamburger-icon {
        display: none;
    }
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-item {
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.mobile-links-container {
    padding-top: 5px;
}

.mobile-links-item {
    text-align: right;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* 
 *  fixed menu section styles
 */

#fixed-menu-section {
    z-index: 9999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#fixed-menu-section .menu-container {
    background-color: rgba(255, 255, 255, 0.5);
}

/*
 *  mobile menu styles
 */

#mobile-menu-section {
    display: none;
}

/* 
 *  grid section styles
 */

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    margin-bottom: 60px;
    margin-top: 29px;
    /* padding-bottom: 60px;
    padding-top: 29px; */
    /* background-color: #cdcdcd; */
    /* border: 1px solid #cdcdcd; */
}

@media only screen and (min-width: 1500px) {
    #grid {
        margin: 0;
    }    
    /* padding-bottom: 60px; */
    padding-top: 29px;
    padding-bottom: 3060px;
}

@media only screen and (max-width: 640px) {
    #grid {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    #grid {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }
}

/* 
 *  grid entry styles
 */

.grid-entry {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* color: rgb(255, 255, 255); */
}

.grid-entry-news {
    /* background-color: #0cb62b; */
    /* background-color: #1eff00; */
    border-top: 3px solid #19740d; 
    border-right: 3px solid #19740d; 
}

.grid-entry-article {
    /* background-color: #2CBBE3; */
    /* background-color: #24A9CE; */
    /* background-color: #0070dd; */
    border-top: 3px solid #3d8cdb;    
    border-right: 3px solid #3d8cdb;  

}

.grid-entry-guide {
    /* background-color: #c66cd0; */
    border-top: 3px solid #9e57ce;
    border-right: 3px solid #9e57ce;
}

/* 
 *  entry image container
 */

.entry-image-container {
    position: relative;
}

.entry-type-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.entry-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.entry-image-overlay-highlight {
    background-color: rgba(211, 211, 211, 0.2);
}

.entry-type-row-overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
}

.entry-image-triangle-overlay {
    z-index: 998;
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 80px;
}

.entry-image-triangle-overlay polygon {
    fill: rgba(255, 255, 255, 1);
}

.entry-type-news {
    color: #35da00;
}

.entry-type-article {
    color: #0070dd;
}

.entry-type-guide {
    color: #a335ee;
}

.entry-type-row>img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.entry-type-row-overlay>img {
    width: 22px;
    height: 22px;
    z-index: 999;
}

.entry-type-name {
    font-size: 20px;
    padding-right: 8px;
    line-height: 18px;
    font-weight: 600;
    display: none;
    z-index: 999;
}

.entry-image-container {
    cursor: pointer;
}

.entry-image {
    display: block;
    width: 100%;
    height: auto;
}

/* 
 *  entry detials styles
 */

.entry-details-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

/* 
 *  entry title styles
 */

.entry-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 6px;
}

/* 
 *  footer section styles
 */

#footer-container {
    border-top: 1px solid #cdcdcd;    
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
 *  dark theme styles 
 */

.dark-theme {
    background-color: #282c34;
    color: #cfd3db;
}

.dark-theme #fixed-menu-section .menu-container {
    background-color: #282c34;
}

.dark-theme .entry-image-triangle-overlay polygon {
    fill: #282c34;
}

.dark-theme .entry-image-overlay-highlight {
    background-color: rgba(56, 50, 50, 0.2);
}